torch
transformers
resemblyzer
sounddevice
numpy
scipy
scikit-learn
librosa
numba
webrtcvad
huggingface-hub
tokenizers
safetensors
joblib
threadpoolctl
decorator
audioread
soundfile
pooch
soxr
msgpack
rich
typer
regex